*{
    box-sizing: border-box;
}

ul{
    
    background-color: darkgray;
    padding-left: 0px;
    margin-bottom: 0px;
}

li{
    display:inline-block;
    list-style: none;
    margin: 10px;
}

#grey{
    background-color: rgb(241, 225, 225);
}

#test{
    margin: 0px;
    height: 200px;
    background-color: rgb(214, 205, 205);
}

#bande_blanche_01{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
}

h2{
    margin:auto;
}

#containeur{
    display: flex;
    justify-content: space-around;
    height: 245px;
}

.grey_02{
    background-color: rgb(214, 205, 205);
    width: 280px;
    height: 245px;
    width: 32%;
}

#bande_blanche_02{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    border-bottom:2px black solid;
}

#bande_blance_03{
    height: 80px;
}

#left{
    margin: 15px 5px 5px 2px;
}

#formulaire{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.in_01{
    width: 70%;
    margin: 10px;
    border: 2px black solid;
}

#in_02{
    width: 70%;
    margin: 10px;
}

textarea{
    width: 70%;
    margin: 10px;
    border: 1px black solid;
    height: 120px;
}